.ng-invalid {
    border: 1px solid rgb(101, 60, 247);
}
:host {
    display: flex;
    
    align-items: center;
    padding: 3px 2px;
    background-color: #4c30c9;
 .input{
     color: rgb(39, 199, 159);
     padding: 8px 16px;
     width: 890px;
     
     
 } 
   
}