 :host {
   display: block;
   height: 527px;
   align-items: left;
   //height: calc(150% - 100px);
   padding: 10px 16px;
   background-color: #ecf1e2;
   border: rgb(202, 247, 185); 
   overflow-y: scroll; 
}